.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.artistSearch {
  align-items: center;
}

.artistButton {
  color: red;
}

.rec-card {
    width: 92%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.div2 {
  width: max-content;
}

.button {
  background-color:#4682BB; 
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
}

.button2 {
  background-color:#4682BB; 
  float: right;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  margin-left: 1px;
}

.button3 {
  background-color:#4682BB; 
  border: none;
  color: white;
  padding: 24px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
}

.rec-header {
  color:#4682BB;
  margin-bottom: 15px;
}

.welcome-header {
  color: #4682BB;
  font-size: 4em;
  text-align: center;
  vertical-align: center;
}

/* body {
  background-image: url('https://static.billboard.com/files/2020/04/concert-crowd-covid-rri-billboard-1548-1586981468-1024x677.jpg');
  background-size: cover;
} */

.test {
  /* background-image: url('https://static.billboard.com/files/2020/04/concert-crowd-covid-rri-billboard-1548-1586981468-1024x677.jpg'); */
  /* background-color: lightgrey; */
  background-size: cover;
  text-align: center;
  height: 100%;
}